# td-agent-bit - ligtweight log shipping for fluent

description "TD Agent Bit"

# start in normal runlevels when disks are mounted and networking is available
start on runlevel [2345]
stop on runlevel [!2345]

respawn
exec {{ flb_binary }} -c {{ flb_conf_dir }}/{{ flb_conf_file }}