# {{ ansible_managed }}
# This file serves to automatically rotate a log file which was configured to be tailed by td-agent-bit, a log-collection agent.
"{{ item.path }}"

{
{% if item.rotate_custom is defined %}
{% for option in item.rotate_custom %}
  {{ option }}
{% endfor %}
{% else %}
  {{ item.rotate_interval | default(tail_input.rotate_interval) }}
  maxsize {{ item.rotate_size | default(tail_input.rotate_maxsize) }}
  rotate {{ item.rotate_retention | default(tail_input.rotate_retention) }}
  {{ item.rotate_strategy | default(tail_input.rotate_strategy) }}
{% if item.rotate_missingok | default(tail_input.rotate_missingok) %}
  missingok
{% endif %}
{% endif %}
{% if ( item.rotate_owner is defined or tail_input.rotate_owner is defined ) %}
  {# 
  The following line is a nasty block of nested defaults serving as a precedence list.
  It's summed up as: user(item_user->global_user) group(item_group->global_group->item_user->global_user) 
  i.e. if the user and group are the same value, you can just set the owner and move on with your life.
  #}
  su {{ item.rotate_owner | default(tail_input.rotate_owner) }} {{ item.rotate_group | default( tail_input.rotate_group | default( item.rotate_owner | default(tail_input.rotate_owner) )) }}
{% endif %}
{% if item.rotate_scripts is defined %}
{% for name, script in item.scripts.items() %}
  {{ name }}
    {{ script }}
  endscript
{% endfor %}
{% elif tail_input.rotate_scripts is defined %}
{% for name, script in tail_input.rotate_scripts.items() %}
{% if name not in lookup('subelements', item.rotate_scripts, 'name', {'skip_missing': True}) %}
  {{ name }}
    {{ script }}
  endscript
{% endif %}
{% endfor %}
{% endif %}
}