# {{ ansible_managed }}

"{{ item.path }}"

{
  {%- if item.rotate_custom is defined -%}
  {%- for option in item.rotate_custom -%}
  {{ option }}
  {%- endfor -%}
  {%- else -%}
  {{ item.rotate_interval | Default(flb_rotate_interval) }}
  maxsize {{ item.rotate_size | Default(flb_rotate_size) }}
  rotate {{ item.rotate_retention | Default(flb_rotate_retention) }}
  {{ item.rotate_strategy | Default(flb_rotate_strategy) }}
  {%- if item.rotate_missingok | Default(flb_rotate_missingok) -%}
  missingok
  {%- endif -%}
  {%- endif -%}
  
  {%- if item.rotate_scripts is defined -%}
  {%- for name, script in item.scripts.items() -%}
  {{ name }}
    {{ script }}
  endscript
  {%- endfor -%}
  {%- elif flb_rotate_scripts is defined -%}
  {%- for name, script in flb_rotate_scripts.items() -%}
  {{ name }}
    {{ script }}
  endscript
  {%- endfor -%}
  {%- endif -%}
}


